*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: cornsilk;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container{
    height:90vh;
    width:50vw;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    box-shadow: 0 12px 28px rgba(252, 101, 14, 0.2),0 6px 20px 0 rgba(0, 15, 22, 0.19);
}
.container form .form-component{
    padding:12px;
    font-size:1.5rem;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.container form .form-component span{
   font-size:.8rem;
   margin:5px 0 0 12px;
   color: red;
}
.container .form-component input{
    padding:5px;
    margin:3px 0 0 0;
    width:20vw;
    text-transform: lowercase;
    font-size:1rem;
}
.container .btn{
    padding:6px;
    border: none;
    background-color:blue;
    color: #fff;
    font-size: 1.2rem;
    border-radius:3px;
}
.container .main h2{
    font-size:2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width:1200px){
    body .container{
        height:95vh;
        width:80vw;
    }
    .container form .form-component{
        padding:12px;
        font-size:1.5rem;
        flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
    }
    .container .form-component input{
        padding:5px 6px;
        width:60vw;
        font-size:1rem;
    }
    .container .main h2{
        font-size:2rem;
    }
    .container .btn{
        padding:8px 16px;
        font-size:1rem;
    }
}
@media screen and (max-width:600px){
    body .container{
        height:90vh;
        width:90vw;
    }
    .container form .form-component{
        padding:6px;
        font-size:1.8rem;
        flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
    }
    .container .form-component input{
        padding:4px 2px;
        width:75vw;
        font-size:1.5rem;
    }
    .container .main h2{
        font-size:2rem;
    }
    .container .btn{
        padding:8px 16px;
        font-size:1.5rem;
        margin:12px auto;
    }
    .container form .form-component span{
        font-size:1rem;
        margin:5px 0 0 3px;
     }
}