@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Merriweather:wght@300&family=Mochiy+Pop+P+One&family=Space+Mono&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Space+Mono&family=Zilla+Slab&display=swap');
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
:root{
    --bold:'Bree Serif', serif;
    --thin:'Merriweather', serif;
    --lgcolor:linear-gradient(rgba(116,235,213,0.6),rgba(159,172,230,0));
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height:90vh;
    max-width:60vw;
    min-width:90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    box-shadow: 0 12px 28px rgba(252, 101, 14, 0.2),0 6px 20px 0 rgba(0, 15, 22, 0.19);
    border-radius:8px;
    text-align:center;
    margin:40px 0 0 0;
}
.container .form .btn{
    padding:6px 15px;
    border-radius:4px;
    border: none;
    font-size:1.5rem;
   font-weight: bold;
   background-color:blueviolet;
   color: #fff;
   box-shadow: 0 4px 8px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.container .header h2{
    font-size:2rem;
    font-family: var(--bold);
    margin:0;
    padding:0;
}
.container .form .form-control{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    padding:3px 0;
}
.container .form .form-control span{
  color: red;
  font-family: var(--thin);
  margin:0;
  padding:0;
}

.container .form .form-control input{
   font-family: var(--thin);
   width:25vw;
   padding:6px;
   margin:5px 0;
   border:1px solid black;
}
.container .form .form-control label{
    font-family: var(--bold);
    font-size:1.3rem;
}
.container .form .form-control #check{
    color:green;
}
.container .form .form-control #error{
    color:red;
}
@media screen and (min-device-width:900px) and (max-device-width:1250px) { 
    .container{
        margin:40px 0 0 0;
        align-items: flex-start;
    }
    .container{
        border:1px solid black;
    }
    .container .form .btn{
        border-radius:4px;
        font-size:1rem;
    }
    .container form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .container form label{
       padding:5px 0 0 0;
    }
    .container .form .form-control input{
        width:40vw;
        padding:8px;
        margin:10px 0 4px 0;
        font-size:1rem;
     }
     .container .header h2{
        font-size:2rem;
        display:inline;
        margin:182px auto 0 250px;
    }
  
}

@media screen and (max-width:900px){
    .container form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .container .header h2{
        font-size:2.5rem;
        display:inline;
    }
    .container .form .form-control input{
        width:50vw;
        padding:8px 4px;
        margin:8px auto 5px auto;
        font-size:1rem;
     }
     .container{
        height:95vh;
        width:95vw;
        margin:20px 0 0 0;
    }
   
}
@media screen and (max-width:800px){
    .container form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .container .header h2{
        display:inline;
        font-size:2rem;
        margin:52px 60px;
        padding:0;
    }
 
}
@media screen and (max-width:500px){
    .container form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .container .header h2{
        display:inline;
        font-size:1.5rem;
    }
    .container .form .form-control input{
        width:50vw;
        padding:5px 3px;
        font-size:0.8rem;
     }
}